body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.banner{
    background-image: url('images/banner.png');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.txt{
    font-size: 150px;
    font-weight: 800;
    margin-top: -25px;
}
.event{
    background-image: url('images/cool.svg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.event3{
    background-image: url('images/bg.png');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg_exhibit{
    background-image: url('images/bg_exhibit.png');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}